.clickCard {
	display: flex;
	flex-flow: column nowrap;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index                 : 999;
	backdrop-filter         : blur(14px) saturate(100%);
	-webkit-backdrop-filter : blur(14px) saturate(100%);
	background-color        : rgba(255, 255, 255, 0.65);
	border-radius: 12px;
	box-shadow:  -11px 11px 22px #bdbdbd;
	border                  : 1px solid rgba(255, 255, 255, 0.125);
	height                  : fit-content;
	width: 50vw;
}

.wrapper {
	user-select: none;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top:50%;
	left: 50%;
	transform               : translate(-50%, -50%);
	z-index : 1000;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(16px) saturate(100%);
	-webkit-backdrop-filter: blur(16px) saturate(100%);
	border-radius: 12px;
	transition: 0.35s all ease-in-out;
}

.cardDetails {
	display: grid;
	justify-content: left;
	align-items: start;
	padding: 0.5rem;
	gap: 1rem;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
}

.campaignTitle {
	font-weight: 800;
	display: flex;
	width: 100%;
	font-size: 1.2rem;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.2rem;
}
.cross {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor : pointer;
	aspect-ratio: 1/1;
	width: 16px;
	margin: 0.8rem;
	z-index : 1100;
}


.campaignDates {
	display: flex;
	align-items: center;
	width: 98%;
	flex-direction: row;
	padding: 0.5rem;
    justify-content: space-between;
}

.blurb {
	max-width:35em;
}

.assignedTo {
	width: fit-content;
}

.startDate {
	font-size: 1rem;
	opacity: 0.8;
	font-weight: 300;
}

.endDate {
	font-size: 1.1rem;
	font-weight: 500;
}