/* Header css */

header {
  display: flex;
  flex-direction: row;
  background-color: var(--header-background);
  color: white;
  font-family: var(--main-font);
  font-variation-settings: "wght" 700;
  height: 56px;
  margin: 0 auto;
  align-items: center;
  text-wrap: nowrap;
}
.header-title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 200px;
}

.logo-img {
  margin-left: 200px;
}

/* nav-bar css */

.nav-bar {
  display: flex;
  flex-direction: row;
  /* margin-left: 100px; */
  height: 145px;
  /* margin: 0 auto; */
  overflow: visible;
}
.nav-wrapper {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 20px;
  align-items: end;
  width: 100%;
  margin: 0 auto;
  /* margin: 0 200px; */
  /* margin-bottom: 5px; */
  overflow: visible;
}
.nav-bar h1 {
  line-height: 40px;
}

.year {
  font-size: 48px;
  /* margin-right: 200px; */
  /* flex: 1; */
}

/* window view css */
.wrapper-container {
  height: 100vh;
  width: 95%;
  margin: 0 auto;
  overflow: visible;
}

.view-window {
  height: 74%;
  width: 100%;
  /* background-color: red; */
  /* border: 1px solid black;
  border-radius: 10px; */
  /* margin-top: 20px; */
  margin-top: 20px;
  /* -webkit-box-shadow: 10px 10px 103px -39px rgb(0, 0, 0);
  -moz-box-shadow: 10px 10px 103px -39px rgb(0, 0, 0);
  box-shadow: 10px 10px 103px -39px rgb(0, 0, 0); */
}

/* date button styling */
.buttons {
  width: fit-content;
  height: 32px;
  background: #fff;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-variation-settings: "wght" 700;
  outline: none;
  border: none;
  border-radius: 0.7rem;
  margin-right: 0.5rem;
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 18px #d9d9d9;
  -moz-box-shadow: 8px 8px 18px #d9d9d9;
  box-shadow: 8px 8px 18px #d9d9d9;
  display: flex;
  align-items: center;
}
.date-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  margin-top: 20px;
  overflow: visible;
}

.not-implemented:hover {
  cursor: not-allowed;
  background-color: #ffffff56;
}

._3zRJQ, .rbc-event-content {
  color: black !important;
  fill: #494949 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}
