/* Header css */

header {
  display: flex;
  flex-direction: row;
  background-color: var(--header-background);
  color: white;
  font-family: var(--header-font);
  height: 56px;
  margin: 0 auto;
  align-items: center;
}
.header-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 200px;
}

.logo-img {
  margin-left: 400px;
}

/* nav-bar css */

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin-left: 100px;
  height: 164px;
  /* margin: 0 auto; */
}
.nav-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: end;
  margin: 0 200px;
}

.year {
  margin-right: 200px;
}
