/* Header css */

header {
  display: flex;
  flex-direction: row;
  background-color: var(--header-background);
  color: white;
  font-family: var(--header-font);
  height: 56px;
  margin: 0 auto;
  align-items: center;
}
.header-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 200px;
}

.logo-img {
  margin-left: 400px;
}

/* nav-bar css */

.nav-bar {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  height: 112px;
}

