.hover-card {
	background: #ffffff;
	border-radius : 1rem;
	align-self: center;
	height        : fit-content;
	width         : fit-content;
	z-index       : 10;
	transition     : all 3s ease-in-out;
}

.blurb {
	width: 100%;
}

.campaign-title {
	font-weight: 800;
	height  : fit-content;
	padding : 0.5rem;
	width   : 100%;
	z-index : 2;
}

.card-details {
	display            :flex;
	flex-flow: column nowrap;
	gap: 1rem;
	height             : 100%;
	padding            : 0.5rem;
	width              : 100%;
}