.event-type-key {
  display: grid;
  margin-top: 10px;
  height: 70px;
  width: 200px;
  column-gap: 20px;
  row-gap: 5px;
  border: 1px solid #88878727; /* Add a border to the container */
  background: var(--switches-bg-color); /* Set background color to grey */
  padding: 20px;
  margin-top: 5px;
  /* position: absolute; 
  top: 10%; 
  left: 75%; */
  border-radius: 0.7rem;
  z-index: -1;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-shadow: 8px 8px 18px #d9d9d9;
  -moz-box-shadow: 8px 8px 18px #d9d9d9;
  box-shadow:  8px 8px 18px #d9d9d9;
  
}

.in-view{
  opacity: 0;
}

.event-type-key__item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.event-type-key__icon {
  width: 20px;
  height: 20px;
  padding-right: 5px;
  font-size: 13px;
}
