.rbc-month-header {
  height: 50px;
  display: flex;
  overflow-y: visible;
}
.rbc-row-content {
  z-index: unset;
}

.rbc-header {
  display: flex;
  justify-content: center;
  align-items: end;
}

.rbc-today {
  background-color: #fdfbf1;
}
